// Theme
$primary-color: #323232;
$stock-blue:#004892;
$brainflix-blue:#0095FF;
$stock-dark-blue: #002F5F;
$other-brainflix-blue:#0065AD; 
$light-text: #FFFFFF;
$text-label-style: #AFAFAF;
$text-field-border: #E1E1E1;
$text-background-fill: #FAFAFA;

//Spacing
$s-unit: 1rem;
$m-unit: 1.5rem;
$l-unit: 2rem;
$xl-unit: 2.5rem;
$xxl-unit: 4rem;

//Screen Size
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 75rem;