@import "./styles/partials/mixins";
@import "./styles/partials/variables";
@import "./styles/partials/typography";
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Avenir";
 }