@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.user__photo {
  min-width: 3.125rem;
  min-height: 3.125rem;
  max-width: 3.125rem;
  max-height: 3.125rem;
  background-color: $text-label-style;
  border-radius: 50%;
  object-fit: cover;
}