@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography";

.form__container{
   @include mobile-padding-side;
   @include tablet {
      @include tablet-padding-side;
   }
   @include desktop{
      @include desktop-padding-one-side;
   }
}
.comment {
   margin-top:$m-unit;
   @include flex-between;
   flex-direction:row;
   padding-bottom:$m-unit;
   border-bottom: 1px solid $text-field-border;
   @include tablet {
      justify-content: flex-start;
      align-items: center;
   }
   &__count{
      margin-top:$l-unit;

   }
   &__input{
      margin-left: $m-unit;
      width:100%;
      @include tablet {
         @include flex-between;
         align-items: center;
      }
   }
   &__btn {
      margin-top:$s-unit;
      @include tablet{
      margin:0 $s-unit 0 $s-unit;
      width:160px;
      }
   }
   &__label {
      width:100%;
      @include tablet {
         justify-self:row;
      }
   }
   &__input-box {
      box-sizing: border-box;
      margin-top:0.3125rem;

      @include form-format;
      resize: inherit;
      object-fit: contain;
      @include tablet{
         margin-bottom:$s-unit;
      }
   }
}