@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography";

.comment__item  {
   padding:$s-unit 0;
   list-style-type: none;
   display:flex;
   align-items: flex-start;
   border-bottom: 1px solid $text-field-border;

   &-box {
      margin-left: $s-unit;
      @include tablet {
        justify-content: flex-start;
      }
   }

   &-date{
      margin-left:$s-unit;
   }

   &-user{
      @include flex-between;
      margin:0;
      width:100%;
      @include tablet{
         justify-content: flex-start;
      }
   }
   &-comment {
      margin-top:8px;
      max-width:624px;
      @include desktop{
         margin-right:$s-unit;
      }
   }
}