@import "../../../../styles/partials/mixins";
@import "../../../../styles/partials/variables";
@import "../../../../styles/partials/typography";


.video-detail{
   @include mobile-padding-side;
      @include tablet {
         @include tablet-padding-side;
      }

      @include desktop {
         @include desktop-padding-one-side;
      }

   &__box{
      border-bottom: 1px solid $text-field-border;
      padding-bottom:$s-unit;
      @include tablet{
         @include flex-between;
         flex-wrap: wrap;
         align-items: baseline;
         @include desktop {
            
         }
      }
   }

   &__title {
      margin-top:$l-unit;
      @include mobile-header-text;
      width:100%;
   }
   &__channel {
      margin-top:$s-unit;
   }
   &__date {
      padding-left: $s-unit;      
   }

   &__info {
      margin-top:$m-unit;
      display:flex;
      @include tablet {
         margin-top:0;
      }
      @include desktop {
         margin-right:$s-unit;
      }
   }

   &__views{
      margin-right:$m-unit;
   }
   &__icon {
      margin-right: 0.5rem;
   }

   &__bio {
      margin-top:$s-unit;
      max-width: 30.9375rem;
   }
}