@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography";


.video-detail{
   @include mobile-padding-side;
      @include tablet {
         @include tablet-padding-side;
      }

      @include desktop {
         @include desktop-padding-one-side;
      }

   &__box{
      @include tablet{
         @include flex-between;
         flex-wrap: wrap;
         align-items: baseline;
         @include desktop {
            border-bottom: 1px solid $text-field-border;
         }
      }
   }

   &__title {
      margin-top:$l-unit;
      @include mobile-header-text;
      width:100%;
      font-family: "AvenirBold";
   }

   &__date {
      padding-left: 0.3rem;      
   }

   &__info {
      display:flex;
      align-items: flex-end;
   }

   &__views{
      margin-right:$m-unit;
   }
   &__icon {
      margin-right: 0.5rem;
   }

   &__bio {
      max-width: 30.9375rem;
   }
}