@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.hdr__nav-bar {
   @include flex-column;
   align-items: center;
   margin-top:$s-unit;   
   padding: 0 $s-unit 0 $s-unit;      
   @include tablet{
      @include tablet-padding-side;
      @include flex-between;
      flex-direction: row;
   }
   @include desktop {
      @include desktop-padding-side;
   }
}

.nav-bar{
   width:100%;
   
   &__form{
      @include tablet{
         display:flex;
         justify-content: flex-end;
         flex-direction: row;
         align-items: center;
      }
   }

   &__box{
      margin-top:$s-unit;
      display:flex;
      align-items:center;
      justify-content:space-between;
      @include tablet {
         margin-top:0;
         align-items: center;
      }
   }

   &__box-btn{
      margin-right:$s-unit;
      width:100%;
   }
}

.nav-bar__search-box{
   @include form-format;
   background-image: url("../../assets/icons/svg/Icon-search.svg");
   background-repeat: no-repeat;
   background-size: 20px;
   background-position: left;
   background-position-x: 0.75rem;
   padding: 1rem;
   text-indent: $m-unit;
   margin-top:8px;
   @include tablet {
      width:45%;
      margin:0 $s-unit 0 0;
      max-height: 3.125rem;
   }

}