@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography";


.btn {
   font-family: "AvenirBold";
   color:$light-text;
   @include button-format;
   @include mobile-subheader-text;
   text-transform: uppercase;
   @include tablet {
      margin: 0 $s-unit 0 0;
      padding: 0.70rem $s-unit;
      max-height: 3.125rem;
   }
}