@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography";

.video__item {
   list-style-type: none;
   // width: 350px;
   height:70px;
   margin-bottom:$m-unit;
   display:flex;


   &-pic {
      width:120px;
      height:70px;
      border-radius: 4px;
      object-fit: cover;
      margin-right:$s-unit;
   }

   &-title {
      margin:0;
      overflow: hidden;
      text-overflow:ellipsis;
   }

   &-channel {
      margin-top: 7px;
   }




}